{% extends 'webcrawler/layout.html' %}

{% block content %}
    <h1> 문의사항 게시판</h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
              <thead>
                <th> 글 번호 </th>
                <th> 제목 </th>
                <th> 작성일자 </th>
            </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                    <td> {{ post.id }} </td>
                    <td> <a href="{% url 'board:detail' post.id %}"> {{ post.title }} </a> </td>
                    <td> {{ post.created_at }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <button class="btn btn-default pull-right">
                <a href="{% url 'board:new' %}">글 작성</a>
            </button>
        </div>
    </div>
{% endblock %}