{% extends "accounts/layout.html" %} 
{% load static %}

{% block content %}

<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<div class="box">

    {# SideBar Start #}
    <div class="sidebar" id="login_section"> 
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" id="message">
                {{ message.message }} {# 실제 메세지 내용 #}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="logo">
            {% comment %} <h1>Logo</h1> {% endcomment %}
            <img src="{% static 'accounts/logo.png' %}" width="60" height="67">
        </div>
        <div class="form">
            <div class="form-content">
                <h3 class="text-center" id="form-title">원광대 학점 관리 서비스</h3>
                <form class="form-signin" action="" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" id="intranet_id" name="username" placeholder="웹정보서비스아이디" required autofocus>
                    </div>
        
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" class="form-control" id="intranet_pw" name="password" placeholder="웹정보서비스비밀번호" required>
                    </div>
                    <button type="submit" id="login" class="btn btn-lg btn-primary btn-block">로그인</button>
                </form>
            </div>

            <div class="form-copyright">
                <span>copyright&copy; 2018. <br>TeamCoding. All rights reserved</span>
            </div>
        </div>
    </div>
    {# SideBar End #}

    {# Content Start #}
    <div class="content" id="image_section">
        <div class="content-subtitle">
            <sub style="font-size:1.5rem;">SERVICE</sub>
            <h3>제공되는 서비스</h3>
        </div>
        <div class="content-slides">
            <img class="mySlides" src="{% static 'webcrawler/assets/img/screen1.png' %}" alt="1" width="100%" height="100%">
            <img class="mySlides" src="{% static 'webcrawler/assets/img/screen2.png' %}" alt="2" width="100%" height="100%">
            <img class="mySlides" src="{% static 'webcrawler/assets/img/screen3.png' %}" alt="3" width="100%" height="100%">
        </div>
        <div class="content-contact">
            <sub style="font-size:1.5rem;">CONTACT</sub>
            <h3>문의사항</h3>
        </div>
        <div class="abc">
            <p>Email <span class="glyphicon glyphicon-envelope"></span> : min_2271@naver.com</p>
            {% comment %} <p>Facbook <i class="fa fa-facebook-square"></i> :</p> {% endcomment %}
        </div>
    </div>
    {# Content End #}
</div>
 
</div>

<script src="{% static 'webcrawler/assets/vendor/jquery/jquery.min.js' %}"></script>

<script>
    var id = "";
    var pw = "";

    $('#intranet_id').on('input', function (e) {
        id = e.target.value;
    });
    
    $('#intranet_pw').on('input', function (e) {
        pw = e.target.value;
    });

    $('#login').click(function() {
        if(id !== "" && pw !== "") {
            $( "#login_section" ).fadeOut( "fast" );
            $('.spinner').css("display", "block");
            $('.content').css("display", "none");
        }
    });

    setTimeout(fade_out, 5000);

    function fade_out() {
        $("#message").fadeOut().empty();
    }
    /*SlideShow Start*/
    var myIndex = 0;
    carousel();

    function carousel(){
        var i;
        var x = document.getElementsByClassName("mySlides");
        for(i=0; i< x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;

        if (myIndex > x.length) {
            myIndex = 1
        }
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 3000);
        }
    /*SlideShow End*/
</script>


{% endblock %}