{% extends "accounts/layout.html" %} 
{% load static %}

{% block content %}

<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<div class="box container-fluid no-space">
    
    {% if messages %}
    <div style="margin-top: 30px">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" id="message">
                {{ message.message }} {# 실제 메세지 내용 #}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {# 사이드바 시작#}
    <div class="col-md-4 col-xs-12 no-space" id="login_section">
        <div>
            <div>
                <h1>WGP</h1>
            </div>
            <h1>웹정보서비스 </h1>
            <form class="form-signin" action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" class="form-control" id="intranet_id" name="username" placeholder="User ID" required autofocus>
                </div>
    
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-control" id="intranet_pw" name="password" placeholder="Password" required>
                </div>
                <button type="submit" id="login" class="btn btn-lg btn-primary btn-block">로그인</button>
            </form>
        </div>
    </div>
        {# 사이드바 끝#}

        <div class="col-md-8 col-xs-12 no-space" id="image_section">
            <img class="mySlides" src="{% static 'webcrawler/assets/img/beach1.png' %}" alt="1" width="100%" height="100%">
            <img class="mySlides" src="{% static 'webcrawler/assets/img/beach2.png' %}" alt="2" width="100%" height="100%">
            <img class="mySlides" src="{% static 'webcrawler/assets/img/beach3.png' %}" alt="3" width="100%" height="100%">
        </div>
    </div>
 
</div>

<script src="{% static 'webcrawler/assets/vendor/jquery/jquery.min.js' %}"></script>

<script>


    var id = "";
    var pw = "";

    $('#intranet_id').on('input', function (e) {
        id = e.target.value;
    });
    
    $('#intranet_pw').on('input', function (e) {
        pw = e.target.value;
    });

    $('#login').click(function() {
        if(id !== "" && pw !== "") {
            $( "#login_section" ).fadeOut( "fast" );
            $('.spinner').css("display", "block");
        }
    });

    setTimeout(fade_out, 5000);

    function fade_out() {
        $("#message").fadeOut().empty();
    }

    var myIndex = 0;
    carousel();

    function carousel(){
        var i;
        var x = document.getElementsByClassName("mySlides");
        for(i=0; i< x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;

        if (myIndex > x.length) {
            myIndex = 1
        }
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 3000);
        }
</script>


{% endblock %}