*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'Lemon Jelly';
    src:local('Lemon Jelly'),
        url('../static/fonts/Lemon Jelly.ttf') format('truetype');
}
.box {
    height:100%;
    min-height:100%;
}
.sidebar{
    float: left;
    width: 25%;
    background-color:white;
    color: #4982fb
}
.content{
    display: block;
    float: left;
    width: 75%;
    background-color: #4982fb;
    color: white;
    padding: 50px 100px 200px 100px;
}
.content .content-subtitle, .content .content-contact{
    display: inline-block;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0px #ccc;
}
.content .content-subtitle h3{
    margin-top: 10px;
}
.content .content-slides{
    width: 100%;
    min-width: 80%;
    height: 80%;
    box-shadow: 5px 5px 1px #ddd;
    margin-bottom: 30px; 
}
.sidebar .logo{
    position: relative;
    left: 20px;
    margin-bottom: 50px;
}
.sidebar .logo h1{
    display: inline-block;
    font-size: 70px;
    font-family: 'Lemon Jelly';
}
.sidebar .form{
    margin: 0 auto;
    width: 80%;
    height: auto;
}
.sidebar .form .form-content{
    border-bottom: 1px solid #cccccc;
}
.sidebar .form .form-copyright{
    margin-top:50px;
    text-align: center;
    font-size: 1.5rem;
}
.sidebar .form-signin {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
}
.form-signin .input-group{
    margin-bottom: 5px;
}
.form-signin .input-group-addon{
    background-color: white;
}
.form-signin button{
    background-color: #4982fb;
    margin-top: 50px;
    margin-bottom: 50px;
    outline-style: none;
}
.form-signin .form-control {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
#login_section {
    height: 100%;
    min-height: 100%;
}
#image_section {
    height: 100%;
    min-height: 100%;
}
@media screen and (max-width:1440px){
    .sidebar{
        width: 30%;
    }
    .content{
        width: 70%;
        padding: 50px 50px 200px 50px;
    }
    .sidebar .form{
        width: 80%;
    }
    .sidebar .form .form-content h1{
        font-size: 36px;
        margin-bottom: 10px;
    }
    .sidebar .form-signin {
        padding: 0;
    }
    .content .content-slides{
        height: 65%;
    }
}
@media screen and (max-width:1024px){
    .sidebar{
        width: 32%;
    }
    .content{
        width: 68%;
        padding: 50px 50px 200px 50px;
    }
    .sidebar .form{
        width: 90%;
    }
    .sidebar .form .form-content h1{
        font-size: 3rem;
    }
    .sidebar .form-signin {
        padding: 0;
    }
    .content .content-slides{
        height: 65%;
    }
}
@media screen and (max-width:768px){
    .sidebar, .content{
        width: 100%;
        float: none;
    }
    .sidebar .form{
        top: 50%;
    }
    .content{
        padding: 15px;
    }
    .sidebar .form .form-content h1{
        font-size: 36px;
    }
    .content .content-slides{
        height: 50%;
    }
}
@media screen and (max-width:320px){
    .sidebar, .content{
        width: 100%;
        float: none;
    }
    .sidebar .logo h1{
        left: 20px;
        font-size: 50px;
    }
    .sidebar .form{
        top: 60%;
    }
    .content{
        padding: 10px;
    }
    .content .content-slides{
        height: 50%;
    }
}


