*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'Lemon Jelly';
    src:local('Lemon Jelly'),
        url('../static/fonts/Lemon Jelly.ttf') format('truetype');
}
.box {
    height:100%;
    min-height:100%;
}
.sidebar{
    float: left;
    width: 25%;
    height: 100%;
    background-color:white;
    color: #4982fb;
}
.content{
    display: block;
    float: left;
    width: 75%;
    height: 100%;
}
.sidebar .logo{
    margin-top: 50px;
}
.sidebar > .logo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar .form{
    margin: 0 auto;
    width: 80%;
    height: auto;
}
.sidebar .form .form-content{
    position: relative;
    top: 30px;
}
.sidebar .copyright{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    text-align: center;
    font-size: 1.5rem;
}
.sidebar .form-signin {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
}
.form-signin .input-group{
    margin-bottom: 5px;
}
.form-signin .input-group-addon{
    background-color: white;
}
.form-signin button{
    background-color: #4982fb;
    margin-top: 50px;
    margin-bottom: 50px;
    outline-style: none;
}
.form-signin .form-control {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
#form-title {
    margin-bottom: 20px;
}

@media screen and (max-width:1440px){
    .sidebar{
        width: 30%;
    }
    .content{
        width: 70%;
    }
    .sidebar .form{
        width: 90%;
    }
    .sidebar .form .form-content h3{
        font-size: 24px;
    }
    .sidebar .form-signin {
        padding: 0;
    }
}
@media screen and (max-width:1024px){
    .sidebar{
        width: 32%;
    }
    .content{
        width: 68%;
    }
    .sidebar .form{
        width: 90%;
    }
    .sidebar .form .form-content h3{
        font-size: 20px;
    }
    .sidebar .form-signin {
        padding: 0;
    }
}
@media screen and (max-width:768px){
    .sidebar, .content{
        width: 100%;
        float: none;
    }
    .sidebar .form{
        top: 50%;
    }
    .sidebar .form .form-content h3{
        font-size: 25px;
    }
    .content{
        display: none;
    }
}
@media screen and (max-width:320px){
    .sidebar, .content{
        width: 100%;
        float: none;
    }
    .sidebar .logo h1{
        left: 20px;
        font-size: 50px;
    }
    .sidebar .form{
        top: 60%;
    }
    .content{
        display: none;
    }
}


